@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Ballet:opsz@16..72&family=Monsieur+La+Doulaise&family=VT323&display=swap');

:root {
  --content-width: min(1100px, 94vw);
}


body {
  background-image: url('images/dark_texture.jpg');
  background-color: #132152;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  font-family: 'Afacad Flux', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.header {
  padding: 0;
  /* width: var(--content-width); */
  width: 100%;
  margin: 1.25rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-stack {
  position: relative;
  width: 100%;
  margin: 0 auto;
  pointer-events: none;
}

.cursive {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: clamp(1rem, 5vw, 3rem);
  color: #f2efcb;
  font-weight: 500;
  margin: 0;
  position: absolute;
  left: 50%;
  bottom: -15%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  line-height: 0.8em;
}

.bold {
  font-family: "Rubik Dirt", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: clamp(2rem, 9vw, 8rem); */
  font-size: calc(185 / 1512 * 100vw);
  color: #e15136;
  margin: 0;
  line-height: 0.8em;
  font-variation-settings: "slnt" 0;
  position: relative;
  display: block;
  z-index: 1;
}

.subtitle {
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  align-self: center;
  color: #f2efcb;
  padding-top: .5rem;
  width: 100%;
  max-width: 93vw;
  /* margin: 0 1.75rem; */
}

.streaming-platforms {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: #f2efcb;
  font-size: 2rem;
}

.streaming-platforms > a, .subtitle > a {
  color: #f2efcb;
}

a {
  text-decoration: none;
}

#spotify:hover {
  color: #1db954;
  transition: 0.5s;
}

#instagram:hover {
  color: #E1306C;
  transition: 0.5s;
}

#tidal:hover {
  color: white;
  transition: 0.5s;
}

#apple-music:hover {
  color: #FA586A;
  transition: 0.5s;
}

#soundcloud:hover {
  color: #FF7F34;
  transition: 0.5s;
}

.image {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image info";
  width: var(--content-width);
  margin: 1.25rem auto 0;
  gap: 2rem;
}

.grid .image {
  grid-area: image;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid .info {
  grid-area: info;
  min-height: 320px;
  background-color: #d5c8c3;
  padding: 1rem;
  /* background-image: url('images/dotted_texture.jpeg');
  background-size: cover;
  background-blend-mode: luminosity; */
}

.track {
  color: #251608;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 3px dashed #251608;
}

.last-track {
  border-bottom: none;
}

.track-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.track-info {
  font-family: "VT323", monospace;
  color: #251608;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;

  h3, p {
    margin: 0;
    text-align: left;
  }
}

@media (max-width: 960px) {
  .links {
    justify-content: center;
    gap: 1rem;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "info"
      "image";
  }
}
